@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --color-black: 0 1 18;
    --color-very-dark-gray: 32 33 44;
    --color-dark-gray: 43 44 55;
    --color-dark-lines: 62 63 78;
    --color-medium-gray: 130 143 163;
    --color-light-lines: 228 235 250;
    --color-light-gray: 244 247 253;
    --color-main-purple: 88 95 199;
    --color-main-purple-hover: 168 164 255;
    --color-red: 234 85 85;
    --color-red-hover: 255 151 152;

  }

  .light {
    --new-col-gradient: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
  }

  .dark {
    --new-col-gradient: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
  }

  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  body{
    @apply bg-light-gray dark:bg-very-dark-gray text-medium-gray;
  }

  input[type='checkbox'] {
    position: absolute;
  }
  
  input[type='checkbox'] + label {
    display: flex;
    align-items: center;
    position: relative;
  }

  /* Custom checkbox */
  input[type='checkbox'] + label::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 16px;
    width: 16px;
    height: 16px;
    border-radius:2px;
  }

  /* Focus outline */
  input[type='checkbox']:focus + label::before {
    outline: 2px solid white;
    outline-offset: 2px;
  }

  /* Checkbox */
  input[type='checkbox']:checked + label::after {
    content: '';
    position: absolute;
    top: 17px;
    left: 16px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    height: 5px;
    width: 9px;
    transform: rotate(-45deg);
  }

  /* Hide original checkbox */
  input[type='checkbox'] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-dark-gray;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-main-purple rounded-lg;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-main-purple-hover; 
  }
}

@layer components {
  .heading-xl{
    @apply text-heading-xl font-bold;
  }
  .heading-lg{
    @apply text-heading-lg font-bold;
  }
  .heading-md{
    @apply text-heading-md font-bold;
  }
  .heading-sm{
    @apply text-heading-sm font-bold;
  }
  .body-lg{
    @apply text-body-lg font-medium;
  }
  .body-md{
    @apply text-body-md font-bold;
  }
  .main-height {
    height: calc(100vh - 4rem)
  }
  .main-width {
    width: calc(100% - 300px);
  }
  .border-color {
    @apply border-light-lines dark:border-dark-lines;
  }
  .bg-color {
    @apply bg-light-gray dark:bg-very-dark-gray;
  }
  .bg-secondary-color {
    @apply bg-white dark:bg-dark-gray;
  }
  .bg-tertiary-color {
    @apply bg-white dark:bg-very-dark-gray;
  }
  .heading-color {
    @apply text-black dark:text-white;
  }
  .subheading-color{
    @apply text-medium-gray dark:text-white;
  }
  .placeholder-color {
    @apply placeholder:text-black/25 dark:placeholder:text-white/25;
  }
  .input-field {
    @apply body-lg border border-medium-gray/25 rounded-[4px] py-2 px-4 bg-transparent focus:outline-0 focus:border-main-purple placeholder-color heading-color w-full;
  }
  .textarea-field {
    @apply body-lg border border-medium-gray/25 rounded-[4px] py-2 px-4 bg-transparent  focus:outline-0 focus:border-main-purple resize-none h-28 placeholder-color heading-color;
  }
}